body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0; 
  }
        .box {
    width: 500px;
    padding: 10px;
    border: 1px solid black;
    }
        .box div {
    width: 180px;
    height: 50px;
    background-color: grey;
    }
        a[title="1"]{
            text-decoration: none;
        }
        p[title="2"]
        {
            color: red;
        }
        div[title="a"]
        {
            width: 200px;
            height: 80px;
            background-color: azure;
            transition: background-color 0.3s,font-size 0.3s;
        }
        div[title="a"]:hover{
    background-color: yellow;
    font-size: smaller;
    }
    .box ul li:nth-child(1){
    font-size: 20px;
}
.box ul li:nth-child(2){
    font-size: 30px;
}
.box ul li:nth-child(3){
    font-size: 40px;
}
html,body{
        height: 100%;
}
